{% extends "network/layout.html" %}
{% load crispy_forms_tags %}
{% block body %}

       
<!-- look here -->
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <div class="container">
        <h2>Register</h2>
        <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <input class="btn btn-primary" type="submit" value="Register">
        </form> 
        Already have an account? <a href="{% url 'login' %}">Log In here.</a>

    </div>
    
{% endblock %}